* {
    margin: 0;
    padding: 0;
}

::selection {
    color: white;
    background-color: black;
}

::placeholder {
    color: white;
    font-size: 15px;
}

.heading {
    font-family: Texturina;
    font-size: 39px;
}

.contact {
    background: linear-gradient(rgba(5, 24, 29), rgba(5, 24, 29, 0.5)), url("../images/contact.png");
    /* The least supported option. */
    /* width: 100vw; */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}

.contact-details {
    text-align: right;
    color: white;
    margin-right: 10%;
    font-family: Texturina;
    font-size: 30px;
}

.contact-detailsp {
    font-family: Texturina;
    text-align: right;
    color: white;
    margin-right: 10%;
    font-size: 15px;
}

.fa {
    text-decoration: none;
    margin-top: 4%;
    padding-left: 5%;
    transition: transform .3s;
}


/* Add a hover effect if you want */

.fa:hover {
    transform: scale(1.2);
    text-decoration: none;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    /*background: #3B5998;*/
    color: white;
}

.fa-facebook:hover {
    color: #0470E5;
}


/* Twitter */

.fa-twitter {
    /*background: #55ACEE;*/
    color: white;
}

.fa-twitter:hover {
    color: #00B9FC;
}

.fa-github {
    color: white;
}


/* Bottom Container */

.copyright {
    font-family: Texturina;
}

.bottom-container {
    background-color: #000000;
    padding: 50px 0 75px;
}

.bottom-container p {
    color: white;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding-top: 40%;
        margin-right: 30%;
    }
    .bottom-container p {
        font-size: 10px;
    }
}


/********************************************************************* Navbar ********************************************************/

.navbar {
    padding-top: 1%;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Texturina;
}

.navbar a {
    transition: 1s;
    text-decoration: none;
    font-weight: bold;
    color: #ff5757;
    padding-left: 15px;
    font-size: 20px;
}

.line {
    color: #8F8686;
}

.nlink:hover {
    transition: 1s;
    color: white;
    letter-spacing: 1.5px;
}


/* Content */

.content {
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
    font-family: Texturina;
    font-size: 20px;
    color: white;
}

.hexagon {
    position: relative;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    width: 300px;
    height: 173.21px;
    background-color: transparent;
    border-left: solid 3px white;
    border-right: solid 3px white;
    transform: scale(110%);
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 40.9340px;
}

.hexagon:before {
    top: -106.0660px;
    border-top: solid 4.2426px white;
    border-right: solid 4.2426px white;
}

.hexagon:after {
    bottom: -106.0660px;
    border-bottom: solid 4.2426px white;
    border-left: solid 4.2426px white;
}


/***************************************************************** Form **********************************************************/

input {
    padding: 10px;
    width: 170%;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid white;
    font-family: Texturina;
    color: white;
}

input:focus {
    border-bottom: 2px solid white;
    color: white;
    caret-color: 2px;
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.btn {
    color: white;
    background-color: transparent;
    border: 2px solid #7e7e7e;
    border-radius: 5px;
    padding: 10px 20px 15px 20px;
    margin-top: 5%;
    display: inline-block;
    font-family: Texturina;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn:hover {
    transition: 1s;
    color: white;
    box-shadow: inset 0 0 0 50px #4169e1;
}

@media screen and (max-width: 736px) {
    .heading {
        margin-top: 10%;
        font-size: 30px;
    }
    .hexagon {
        transform: scale(70%);
        margin-right: -40%;
        margin-top: 18%;
    }
    input {
        width: 145%;
    }
    .btn {
        transform: scale(80%);
        margin-left: -10%;
    }
    .navbar a {
        font-size: 12px;
    }
    .bottom-container {
        padding: 5px 0 30px;
    }
}