* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: BioRhyme;
}

.heading img {
    display: flex;
    width: 18%;
    height: 50%;
    border-radius: 54% 72% 72% 198%;
    margin: 4% 0 0 22%;
    user-select: none;
    -webkit-user-drag: none;
    justify-content: center;
}

.heading-text {
    color: white;
    margin-top: -25%;
    margin-left: 55%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.heading-text span {
    color: #ff2300;
}

.h3 span {
    color: #ff2300;
}

.heading-text,
.heading-text span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.heading-text span {
    display: inline-block
}

.heading-text {
    animation-name: heading-text;
}

@keyframes heading-text {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1
    }
}

@media screen and (max-width:736px) {
    .heading img {
        width: 50%;
        margin-top: 22%;
    }
    .heading-text {
        margin-top: 10%;
        margin-left: 0;
        font-size: 15px;
        width: 100%;
    }
    h1,
    h3 {
        margin-left: 20px;
    }
    h1 {
        font-size: 38px;
    }
    h3 {
        font-size: 24px;
    }
}