* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #171717;
}

::selection {
    color: white;
    background-color: black;
}


/* CONTENTS */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.name {
    font-family: Old Standard TT;
    letter-spacing: 3px;
    font-size: 85px;
    color: #f1f1f1;
    padding-bottom: 10px;
}

.name2 {
    font-family: Texturina;
    font-size: 30px;
    font-weight: bold;
    color: #adadadcf;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EEEEEE;
    min-height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%), url("../images/my_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}


/* ANIMATION OF THE HEADER TEXT */

:root {
    --delay: 0;
    --duration: 4s;
    --iterations: 1;
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-size: 10vw;
    animation-name: clip-text;
    color: #FFF;
    white-space: nowrap;
    cursor: default;
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

.about-header {
    padding-top: 5%;
    color: white;
    font-family: Texturina;
    font-size: 42px;
}

.about-headerp {
    color: white;
    font-family: Texturina;
    font-size: 50px;
}

.about {
    font-family: Texturina;
    padding-top: 2%;
    width: 50%;
    font-size: 25px;
    color: white;
    text-align: justify;
    padding-bottom: 5%;
    line-height: 1.305;
}

.my_img {
    margin-top: 2%;
    width: 18%;
    height: 50%;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
}

.buttons {
    /* margin-left: 30%; */
    margin-top: 3.5%;
    margin-bottom: 5%;
    align-items: center;
}

.btn {
    float: right;
    color: white;
    background-color: transparent;
    border: 2px solid #7e7e7e;
    border-radius: 5px;
    margin-top: 8%;
    margin-right: 25%;
    padding: 18px 36px;
    font-family: Texturina;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn:hover {
    transition: 1s;
    color: white;
    box-shadow: inset 0 0 0 50px #4169e1;
}

.btnp {
    color: white;
    background-color: transparent;
    border: 2px solid #7e7e7e;
    border-radius: 5px;
    margin-top: 8%;
    padding: 18px 36px;
    display: inline-block;
    font-family: Texturina;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-left: 30%;
}

.btnp:hover {
    transition: 1s;
    color: white;
    box-shadow: inset 0 0 0 50px #4169e1;
}

.copyright {
    font-family: Texturina;
}

.bottom-container {
    background-color: #000000;
    padding: 50px 0 50px;
}

.bottom-container p {
    color: white;
}


/* Social Links Styles */

.fa {
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
    padding-bottom: 2%;
    padding-left: 2%;
    transition: transform .3s;
}


/* Add a hover effect if you want */

.bottom-container .fa:hover {
    transform: scale(1.2);
    text-decoration: none;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    /*background: #3B5998;*/
    color: white;
}

.fa-facebook:hover {
    color: #0470E5;
}


/* Twitter */

.fa-twitter {
    /*background: #55ACEE;*/
    color: white;
}

.fa-twitter:hover {
    color: #00B9FC;
}

.fa-github {
    color: white;
}

@media screen and (max-width: 736px) {
    .name {
        font-size: 26px;
    }
    .name2 {
        font-size: 18px;
    }
    .about {
        width: 60%;
        padding-top: 8%;
        font-size: 20px;
    }
    .about-header {
        font-size: 35px;
    }
    .my_img {
        width: 50%;
    }
    .btn {
        padding: 18px 22px;
    }
    .btnp {
        margin-left: 92px;
    }
    .copyright {
        font-size: 10px;
    }
    .bottom-container .fa {
        padding-left: 20px;
    }
}