*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: black;
}


/************************************************************ Heading *************************************************/

.name {
    font-family: Old Standard TT;
    letter-spacing: 3px;
    font-size: 85px;
    color: #f1f1f1;
    padding-bottom: 10px;
}

.name2 {
    font-family: Texturina;
    font-size: 30px;
    font-weight: bold;
    color: #b9acac;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EEEEEE;
    min-height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%), url("../images/my_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}


/**************************************************** Intro Text Animation ********************************************/

:root {
    --delay: 0;
    --duration: 5s;
    --iterations: 1;
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-size: 10vw;
    animation-name: clip-text;
    color: #FFF;
    white-space: nowrap;
    cursor: default;
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}


/********************************************************* About Section *************************************************/

.about-header {
    padding-top: 5%;
    color: white;
    font-family: Texturina;
    font-size: 42px;
}

.about-headerp {
    color: white;
    font-family: Texturina;
    font-size: 50px;
}

.about {
    font-family: Texturina;
    padding-top: 2%;
    width: 50%;
    font-size: 25px;
    color: white;
    text-align: justify;
    padding-bottom: 5%;
    line-height: 1.305;
}

.my_img {
    margin-top: 2%;
    width: 18%;
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
}


/************************************************************ Skills Section ***************************************************/

.simg {
    padding-top: 3%;
    padding-left: 5%;
    -webkit-user-drag: none;
    user-select: none;
    margin-right: 0.5%;
    width: 8%;
}

.skills-bar {
    padding-top: 3%;
    margin-left: 9%;
}

.skills-bar .bar {
    margin: 20px 0px;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
    color: white;
    font-size: 5%;
    font-family: Texturina;
}

.skills-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 30%;
    background-color: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #057aff;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1.7s 1.7s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.html span {
    width: 80%;
}

.progress-line.javascript span {
    width: 65%;
}

.progress-line.flutter span {
    width: 70%;
}

.progress-line.python span {
    width: 75%;
}

.progress-line.c span {
    width: 60%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 1.7s 1.7s linear forwards;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 1.7s 1.7s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.javascript span::after {
    content: "65%";
}

.progress-line.flutter span::after {
    content: "70%";
}

.progress-line.python span::after {
    content: "75%";
}

.progress-line.c span::after {
    content: "60%";
}

.buttons {
    margin-left: 30%;
    margin-top: 3.5%;
    margin-bottom: 5%;
    align-items: center;
}

.btn {
    transition: 0.7s;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    font-family: Texturina;
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.btn:hover {
    transition: 0.7s;
    transform: scale(1.2);
    background: #057aff;
    text-decoration: none;
}

.btnp {
    transition: 0.7s;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    font-family: Texturina;
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
    margin-left: 30%;
}

.btnp:hover {
    transition: 0.7s;
    transform: scale(1.2);
    background: #057aff;
    text-decoration: none;
}